body {
    text-align: center;
    margin: 0;
    background: rgb(245, 234, 234);
    /* background image from https://tr.depositphotos.com */
    background-image: url('https://image.ibb.co/bKtm9U/bug-bg3.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin-top: 1em;
    line-height: 0;
    text-shadow: 3px 0px 6px rgba(150, 150, 150, 1);
    color: rgb(114, 3, 71);
}


canvas {
    margin-top: -30px;
}

p {
    font-family: 'K2D', sans-serif;
}

.score-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;
    text-shadow: 3px 0px 6px rgba(150, 150, 150, 1);
}

.life-box,
.score-box {
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 2px rgb(114, 3, 71) solid;
    box-shadow: 3px 0px 6px rgba(150, 150, 150, 1);
}

.control-container {
    display: none;
}

.life {
    padding: 1.3px;
}

.boxyfy {
    padding: 1.5em;
    margin: 6em;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.38);

    background-color: rgb(255, 255, 255);
    border-top: 4px solid rgb(212, 20, 84);
    border-bottom: 4px solid rgb(212, 20, 84);
}

.player-card {
    background: #dad1d4;
    padding: 1em;
    width: 60vw;
    height: 80vh;
    position: fixed;
    left: 50vw;
    margin-left: -30vw;
    top: -3vh;
}

.character-container {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

.character {
    margin: 10px 20px;
}

.margin-fix {
    display: none;
}

.hide {
    display: none !important;
}

/********** Footer ***************/
.footer {
    background-color: rgb(221, 211, 217);
    padding: 1em;
    margin: 0;
    text-align: center;
}

/********** customization of buttons and font awesome contact icons***************/
.contact {
    margin-left: auto;
    margin-right: auto;
}

.contact-logo-holder {
    text-align: center;
}

.contact-link {
    text-decoration: unset;
    padding: 5px;
}

.heart {
    color: #ec3e2e;
}

.github {
    color: #2e3c49;
}

.linkedin {
    color: #0077b5;
}

.twitter {
    color: #1da1f3;
}

.google {
    color: #dc4538;
}

.facebook {
    color: #3b5998;
}

/***********************************************************/

/* Swal alert customization */

.swal-title {
    font-size: 46px;
}

.swal-text {
    font-size: 25px;
}

.swal-button {
    padding: 14px 19px;
    border-radius: 4px;
    background-color: rgb(182, 14, 78);
    font-size: 18px;
    border: 1px solid rgba(201, 99, 138, 0.726);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);

}




/* Responsive optimizations for mobile and tablet device */
@media only screen and (max-width:767px) {

    body {
        background: rgb(181, 224, 246);
        background: radial-gradient(circle, rgba(181, 224, 246, 1) 0%, rgba(247, 195, 197, 1) 97%);
    }

    h1 {
        margin-top: 1.5em;
        font-size: 2em;
    }

    .player-card {
        padding: 1em;
        width: 80vw;
        top: -4vh;
        left: unset;
        height: 75vh;
    }

    .character-container {
        margin-top: -10vh;
    }

    .margin-fix {
        display: flex;
        width: 50vw;
        padding: 0 8vw;
    }

    #character1 {
        margin-left: 100vw;
    }

    .character {
        display: inline;
    }

    canvas {
        width: 96vw;
    }

    .score-card {
        width: unset;
        font-size: 1.2em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .control-container {
        display: unset;
    }

    .boxyfy {
        margin: 1em;
        margin-top: 6em;
    }
}