body {
    text-align: center;
    margin: 0;
    /* background image from https://tr.depositphotos.com */
    background: #fff url(/images/bug-bg.jpg) repeat;
}

/* Responsive optimizations for mobile device */
@media only screen and (max-width:450px){
    canvas {
        width: 95vw;
    }
}